<!DOCTYPE html>
<html lang="en">
  <!-- <script src="index.js"></script> -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseReco</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <main>
        <h1>Welcome to CourseReco</h1>  
        <h2>Please choose one of the following options</h2>
    </main>
  </head>
  {% block content %}
  <div class="container mt-4">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show shadow-lg rounded">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Notice:</strong> {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
  </div>
  {% endblock%}
  <body>
    <a id="button" href="/insert">New User</a>
    <a id="button" href="/preference">Existing User</a>
    <a id="button" href="/delete">Delete User</a>
    <a id="button" href="/user-prefs">View User Preferences</a>
  </body>
</html>