<!DOCTYPE html>
<html lang="en">
  <!-- <script src="index.js"></script> -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseReco</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>User Recommendations</h1>  
    </main>
    <form method="POST">
      <label for="netid">NetID:</label>
      <input type="netid" id="netid" name="netid">
      <input type="submit" value="Submit">
    </form>
    <form action="/">
      <input type="submit" value="Return to Homepage">
    </form>
  </body>
</html>